@import url(https://fonts.googleapis.com/css?family=Oswald);

body, html{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  font-family: 'Oswald', sans-serif;
}
/* MENU */
a{
	text-decoration: none;
	display: inline-block;
}
nav a{
	color: black;
	font-weight: bold;
	padding: 2%;
}
nav{
	padding-top: 3%;
}
/* FOOTER */
footer{
	background-image: url('../images/tile2.png');
	clear: both;
}

h1,h4{
	color:white;
}
h2,h3{
	padding-top: 3%;
	color:#A46EF0;
}

section .perfil{
	text-align: right;
}
.fondo{
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 70%;
}
.logo{
	padding: 10%;
}

.section-profile{
	height: 50%;
    width: 100%;
    background-image: url("../images/tile1.png");
}

.section-cats img{
	border-radius: 100%;
    border: 2px solid purple;
    padding: 2%;
    height: 70%;
    width: 70%;
}


